.container{

    display: flex;
    justify-content: center;
    
}
ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
li{
    color: red;
    font-size: 20px;
  list-style: none;
}
